@import "tailwindcss";
@theme {
  /* there main backgound colors */
  --color-Backgound: #0f0b08;
  /* there is for text colors */
  --color-texts-100: #e6cf9a;
  --color-texts-200: #ffffff;
  --color-texts-300: #6e1616;
  /* There is for button border and label color  */
}
